:root {
	--light-tan: #EFE2BA;
	--main-red: #F13C20;
	--darker-blue: #4056A1;
	--lighter-blue: #C5CBE3;
}

body {
	background-color: var(--light-tan);
	height: 100%:
}

.subheaders {
	
	text-align: center;
}
.wrapper {
	min-height: 50vh;
}

.holder-box {
	border: 1px solid black;
	border-radius: 15px;
	margin-top: 15px;
	height: 100%;
	background-color: var(--lighter-blue);
}

footer {
    		  background-color: var(--darker-blue);
              text-align: center;
              color: white;
              height: 130px;
              width: 100%;
              margin: 0;
              padding: 20px;
}


.contact{
	margin-top:10%;
}

a, a:visited, a:hover {
	text-decoration: none;
	color: white; 
}

