@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:900');

body, html {
    height: 100%;
    margin: 0;
}


body{
	background:rgba(44, 62, 80,1.0);
	font-family:raleway;
}


header{
	color:white;
	font-family:Titillium Web;
	position:absolute;
	top:50%;
}

.list-group-item{
	width:60%;
	margin:0 auto;
}
.card{
	margin-bottom:3%;
}

.headingText{
	font-size:60px;
	animation: blinker 1s linear infinite;
	color:orange;
	opacity:.8;
	width:70%;
}

@keyframes blinker {
	
  90% {
    opacity: 0;
  }
  
}

.login-form{
	width: 50%;
	margin: 0 auto;
	color:white;
	margin-top:5%;
}



footer{
	margin-top:5%;
	color:white;
    width:100%;
}

.contactBox{
	margin-top:15%;
	color:white;
	}



.bg-red{
	background:#e84118;'
}	

p{
	text-align:justify;
}


main{
	margin-top:4%
}


.enterBtn {
  display: inline-block
}


.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#enterBtn{
	position:absolute;
}

h1.carouselText{
	font-size:100px;
	text-shadow: 4px 4px 9px rgba(150, 150, 150, 1);
}