@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:900');

body, html {
    height: 100%;
    margin: 0;
    margin-top:20px;
}


body{
	background:rgba(44, 62, 80,1.0);
	font-family:raleway;
}


header{
	color:white;
	font-family:Titillium Web;
}

.headingText{
	font-size:60px;
	animation: blinker 1s linear infinite;
	color:orange;
	opacity:.8;
	width:70%;
}

@keyframes blinker {
	
  90% {
    opacity: 0;
  }
  
}

.login-form{
	width: 50%;
	margin: 0 auto;
	color:white;
	margin-top:5%;
}
.carousel-inner > .item > img {
  width:500px;
  height:500px;
}

.carousel {
  width:500px;
  height:400px;
  margin:0 auto;
}

footer{
	margin-top:5%;
	color:white;
    width:100%;
}

.contactBox{
	margin-top:15%;
	color:white;
	}
