<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/pageTemplate.css">
</head>
<body>

	<section>
		<p th:if="${alreadyHave2 == true}">You already have the max amount of parking passes</p>
		<p th:if="${plateUsed == true}">Plate has already been registered</p>
		<p th:if="${success == true}">Parking pass registered successfully</p>		
		<h1>Buy A Parking Pass</h1>
		<form th:action="@{/buyParkingPass}" method="post" th:object="${parkingPass}">
   		 	License Plate:
    		<input th:field="*{plate}" />
    <input type="submit" />
</form>
	</section>
	

</body>
</html>