<!doctype html>
<html lang="en">
<head th:replace="partials/fragments :: head"> </head>

<body>



<nav th:replace="partials/fragments :: navbar"></nav>

<main>
<div class="row">
	<div class="col-lg-12 text-center">
		<div class="contactBox">
			<h1 style="color:orange">Contact Us!</h1>
				<h4><i class="fas fa-phone"></i> (555)-555-5555</h4>
				<h4>7050 Fairgrounds Pkwy </h4>
				<h4>San Antonio, Texas</h4>
				<h6><a href="https://twitter.com/CodingtonAlive?lang=en ">Follow us on Twitter<i class="fab fa-twitter"></i></a></h6>
				
		</div>	
	</div>
</div>



</main>


<script th:replace="partials/fragments :: scripts" ></script>	
</body>
</html>