<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head"> </head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>"


<main>

	<div class="container">
	
	<h1 class="text-center" style="color:orange"><u>Frequently asked questions.</u></h1>
	
	
		<div class="card text-center">
		 	<div class="card-body">
		    	<h5 class="card-title">Q: What are the start and end times for the festival?</h5>
		   		<h6 class="card-text">A: November 2nd - 4th, from 9am-9pm.</h6>
		 	</div>
		</div>
		
		
		<div class="card text-center">
		 	<div class="card-body">
		    	<h5 class="card-title">Q: Will there be food provided?</h5>
		   		<h6 class="card-text">A: Absolutely, We will have various vendors available. There will be plenty of different foods to choose from.</h6>
		 	</div>
		</div>
			
		
		<div class="card text-center">
		 	<div class="card-body">
		    	<h5 class="card-title">Q: Can I bring my own food and drinks?</h5>
		   		<h6 class="card-text">A: No, unless you are bringing food for your infant, or have a special dietary need.</h6>
		 	</div>
		</div>
			
		
		<div class="card text-center">
		 	<div class="card-body">
		    	<h5 class="card-title">Q: Can you drink alcohol on the festival premises?</h5>
		   		<h6 class="card-text">A: Yes, Remember this is a family event with children watching what you do. Don't make it awkward for anyone. Please be mindful of your alcohol intake, remember the mayor may stop by to say hello.</h6>
		 	</div>
		</div>
		
		<div class="card text-center">
		 	<div class="card-body">
		    	<h5 class="card-title">Q: What are the costs of the tickets?</h5>
		   		<h6 class="card-text">A: Donations only. We would appreciate a $10 minimum but whatever you would like to give we appreciate.</h6>
		 	</div>
		</div>
		
		<div class="card text-center">
		 	<div class="card-body">
		    	<h5 class="card-title">Q: Is it handicap accessible?</h5>
		   		<h6 class="card-text">A: Of course.</h6>
		 	</div>
		</div>
		
		<div class="card text-center">
		 	<div class="card-body">
		    	<h5 class="card-title">Q: Will the Mayor be at the festival?</h5>
		   		<h6 class="card-text">A: Be on the lookout, he will make an appearance. Just look for his lit beard, and smoke signals.</h6>
		 	</div>
		</div>
		
		<div class="card text-center">
		 	<div class="card-body">
		    	<h5 class="card-title">Q: Is smoking allowed at the festival?</h5>
		   		<h6 class="card-text">A: Yes, Although someone may mistake your smoke from your cigarette as the location of the mayor.</h6>
		 	</div>
		</div>
			
			
		<div class="card text-center">
		 	<div class="card-body">
		    	<h5 class="card-title">Q: Will there be a designated toddler area?</h5>
		   		<h6 class="card-text">A: Yes, the little ones are valuable and we want them to enjoy the festival as well.</h6>
		 	</div>
		</div>
		
		<div class="card text-center">
		 	<div class="card-body">
		    	<h5 class="card-title">Q: Can I spend the night at the festival?</h5>
		   		<h6 class="card-text">A: No, You are required to leave at the end of the festival no later than 11pm If you  are found on the premises after the festival you will be taken to the River.</h6>
		 	</div>
		 	
	</div>
</main>






<footer th:replace="partials/fragments :: footer"></footer>
<script th:replace="partials/fragments :: scripts" ></script>	
</body>
</html>