<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/pageTemplate.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Codington Festival</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Information</a>
      </li>
    </ul>
  </div>
</nav>
<div class="wrapper">
    <section>
        <div class="container holder-box">
			<div class="row">
				<div class="col">
					<h2 class="subheaders">About</h2>		
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p><img src="../img/trashriver.jpg" alt="" class="center float-left" style="margin-right: 15px; margin-bottom: 15px"/></p>
					<p>
					Welcome to the First Annual New Codington Festival! The New Codington Festival is a celebration of the union between 
					the two cities of Southtown and Northtown, guaranteed fun to be had over the New Codington River (formerly 
					the river coder)! The festival is the brainchild of New Codington chamber of commerce and numerous other 
					sponsors all dedicated to the future prosperity of New Codington and the happiness of its citizens.
					</p>
					<p>
					Along with reserving you ticket for this historic event, you are encouraged (but not obligated) to provide a 
					small donation to help provide for the city's new transition, funds raised will go to different local projects 
					like stimulating local businesses and cleaning up our beloved river. So please give from your heart and enjoy the 
					Festival!  
					</p>
				</div>
			</div>
		</div>
    </section>
    <section>
       	<div class="container holder-box">
			<div class="row">
				<div class="col">
					<h2 class="subheaders">Events</h2>		
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>To celebrate the unity of North Town and South Town, the New Codington Festival is proud to offer the following
					events:
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>
					<img src="../img/celphant.jpg" alt="" class="float-left" style="margin-right: 15px; margin-bottom: 15px" height=150px; width=150px;/>
					<b>Elephant Rides*:</b> We are excited to say that Garbozo, North Town Zoo's famous elephant, is no longer just eye-candy.
					Elephant rides will be offered all-day for children and adults. 
					</p>
					<p>
					*Note: Please do not wear any elephant apparel if you are planning to take a ride on Garbozo. Garbozo is wildy
					territorial (there is a reason why he is kept alone). On a related note, the Codington Chamber of Commerce is not responsible
					for any injuries sustained while riding Garbozo.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>
					<img src="../img/dunk.jpg" alt="" class="float-left" style="margin-right: 15px; margin-bottom: 15px" height=150px; width=150px;/>
					<b>Dunking Booth:</b> Not a fan of our current Mayor, James Hiccup? Now is your chance to let loose on your aggressions.
					James is both aquaphobic and bathophobic, so any bullseyes are sure to be fun for the whole family.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>
					<img src="../img/lizardface.jpg" alt="" class="float-left" style="margin-right: 15px; margin-bottom: 15px" height=150px; width=150px;/>
					<b>Face-Painting:</b> There will be a several face painting booths run by renowned South Town tattoo artist Dingus McJones.
					Whether you are looking for a fun temporary lizard face for the kids or a permanent lizard face solution for adults, we
					have got you covered.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>
					<img src="../img/carnie.jpg" alt="" class="float-left" style="margin-right: 15px; margin-bottom: 15px" height=150px; width=150px;/>
					<b>Carnival Games:</b> The New Codington Festival will be loaded with carnival games that are fun for the whole
					family! As part of the Codington River Revival Program, all carnival prizes are made from recycled trash from our
					famous Codington river.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>	
					<img src="../img/carnival.jpg" alt="" class="float-left" style="margin-right: 15px; margin-bottom: 15px" height=150px; width=150px;/>
					<b>Carnival Style Rides:</b> Looking for a little excitement? Come take a spin on any one of our faboulous carnival rides.
					Don't worry, they are supposed to make those noises.
					</p>
				</div>
			</div>
		</div>
    </section>
    <section>
	    <div class="container holder-box">
			<div class="row">
				<div class="col">
					<h2 class="subheaders">Vendors</h2>		
				</div>
			</div>
			<div class="row">
				<div class="col subheaders">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalVendor">
					  Become A Vendor
					</button>
					<!-- The Modal -->
					<div class="modal" id="myModalVendor">
					  <div class="modal-dialog">
					    <div class="modal-content">
					
					      <!-- Modal Header -->
					      <div class="modal-header">
					        <h4 class="modal-title">Become A Vendor</h4>
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					      </div>
					
					      <!-- Modal body -->
					      <div class="modal-body">
					        <form action="https://formspree.io/swantiffany.williams@accenturefederal.com" method="POST" name="vendor_form">
								<label for="vendor_form">Vendor Name:
									<input type="text" name="vendor_form" />
								</label>
								<label for="vendor_form">Vendor Email:
									<input type="text" name="vendor_form" />
								</label>
								<label for="vendor_form">Vendor Phone:
									<input type="text" name="vendor_form" />
								</label>
								<label for="vendor_form">Vendor URL:
									<input type="text" name="vendor_form" />
								</label><br>
								<button>Submit</button>
							</form>
					      </div>
					
					      <!-- Modal footer -->
					      <div class="modal-footer">
					        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>	
				</div>
			</div>
		</div>
    </section>
    <section>
	    <div class="container holder-box">
			<div class="row">
				<div class="col subheaders">
					<h2>Sponsors</h2>		
				</div>
			</div>
			<div class="row">
				<div class="col subheaders">
					<h4>Gold Sponsors</h4>
					<hr />		
				</div>
			
			</div>
			<div class="row">
				<div class="col subheaders">
					<h4>Silver Sponsors</h4>
					<hr />		
				</div>
			
			</div>
			<div class="row">
				<div class="col subheaders">
					<h4>Bronze Sponsors</h4>	
					<hr />	
				</div>
			
			</div>
			<div class="row">
				<div class="col subheaders">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalSponsor">
					  Become A Sponsor
					</button>
					<!-- The Modal -->
					<div class="modal" id="myModalSponsor">
					  <div class="modal-dialog">
					    <div class="modal-content">
					
					      <!-- Modal Header -->
					      <div class="modal-header">
					        <h4 class="modal-title">Become A Sponsor</h4>
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					      </div>
					
					      <!-- Modal body -->
					      <div class="modal-body">
					        <form action="https://formspree.io/swantiffany.williams@accenturefederal.com" method="POST" name="sponsor_form">
								<label for="sponsor_form">Company Name:
									<input type="text" name="sponsor_form" />
								</label>
								<label for="sponsor_form">Sponsorship Amount:
									<input type="text" name="sponsor_form" />
								</label>
								<label for="sponsor_form">Contact Name:
									<input type="text" name="sponsor_form" />
								</label>
								<label for="sponsor_form">Contact Number:
									<input type="text" name="sponsor_form" />
								</label><br>
								<button>Submit</button>
							</form>
					      </div>
					
					      <!-- Modal footer -->
					      <div class="modal-footer">
					        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>	
				</div>
			</div>
		</div>
    </section>
    <footer>
        <div class="contact">
            <h6><a href="https://www.google.com/search?q=cats&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiD9rfl6JLeAhUMOawKHYeSDYIQ_AUIDigB&biw=1191&bih=600#imgrc=hM7lHKPVzV8OWM:">Contact Us</a></h6>
            <h6><a href="twitter.com">Follow us on Twitter     <i class="fa fa-twitter-square" style="font-size:24px"></i></a></h6>
            <p>7050 Fairgrounds Pkwy San Antonio, Texas</p>
        </div>
    </footer>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>