<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/variables.css">
	<link rel="stylesheet" href="../css/profile.css">
	<link rel="stylesheet" href="../css/pageTemplate.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Codington Festival</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Information</a>
      </li>
    </ul>
  </div>
</nav>
    <section>
        <div class="container">
	<div class="row">
		<div class="col">
			<h1>Welcome, Insert Dynamic Username Here</h1>
		</div>
	</div>
</div>

<div class="container holder-box">
	<div class="row">
		<div class="col">
			<h2>Current Tickets</h2>		
		</div>
	</div>
</div>

<div class="container holder-box" id="add_tickets">
	<div class="row">
		<div class="col">
			<h2>Manage Tickets</h2>		
		</div>
	</div>
	<form>
		<div class="row">
			<div class="col">
				<p style="text-align:center">You have <number> of tickets available: <span><input id="ticket_add_sub"></input></span></p>		
			</div>
		</div>
		<div class="row">
			<div class="mx-auto">
				<button type="button" class="btn btn-outline-primary">Add Ticket</button>		
			</div>
			<div class="mx-auto">
				<button type="button" class="btn btn-outline-primary">Remove Ticket</button>		
			</div>
		</div>
		<div>
			<div class="row">
				<div class="mx-auto">
					<button type="button" class="btn btn-outline-primary text-center">Submit Request</button>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="container holder-box">
	<div class="row">
		<div class="col">
			<h2>Parking Pass</h2>		
		</div>
	</div>
</div>

<div class="container holder-box">
	<div class="row">
		<div class="col">
			<h2>Add Parking Pass</h2>		
		</div>
	</div>
	<form>
		<div class="row">
			<div class="col">
				<p style="text-align:center; text:bold">Input license plate #:<p> 
				<p style="text-align:center"><input class="mx-auto" id="license_add_sub"></input></p>		
			</div>
		</div>
		<div>
			<div class="row">
				<div class="mx-auto">
					<button type="button" class="btn btn-outline-primary text-center">Submit Request</button>
				</div>
			</div>
		</div>
	</form>
</div>
    </section>
    <footer>
        <div clas="contact">
            <h6><a href="https://www.google.com/search?q=cats&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiD9rfl6JLeAhUMOawKHYeSDYIQ_AUIDigB&biw=1191&bih=600#imgrc=hM7lHKPVzV8OWM:">Contact Us</a></h6>
            <h6><a href="twitter.com">Follow us on Twitter     <i class="fa fa-twitter-square" style="font-size:24px"></i></a></h6>
            <p>7050 Fairgrounds Pkwy San Antonio, Texas</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
