<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head"> </head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>"	
    <section>
        <div class="container">
	<div class="row">
		<div class="col">
			<h1>Welcome, <span th:text="${name}"></span>!</h1>
		</div>
	</div>
</div>




<div class="container holder-box" id="add_tickets">
	<div class="row">
		<div class="col">
			<h2>My Tickets</h2>		
		</div>
	</div>
	<form>
		<div class="row">
			<div class="col">
				<p style="text-align:center">You have <span th:text="${numOfTickets}"></span> tickets reserved</p>		
			</div>
		</div>	
		<div class="row">
			<div class="mx-auto">
				<a th:href="@{/ticketbuy}"><button type="button" class="btn btn-outline-primary">Add Ticket</button></a>	
			</div>
		</div>
		<div>
			<div class="row">
				<div class="mx-auto">
					<button type="button" class="btn btn-outline-primary text-center">Remove Ticket</button>
				</div>
			</div>
		</div>
	</form>
	<div class="row" th:each="ticket : ${showTickets}">
		<div class="col">	
			<p><span>Ticket ID: </span><span th:text="${ticket.ticketNum}"></span></p>			
		</div>
	</div>
</div>
<div>
	<h1>Amount of parking passes registered: <span th:text="${numOfParking}"></span></h1>
</div>
<div th:each="plate: ${platesRegistered}">
	<form th:action="@{/deleteParkingPass}" th:method="post">
		<p>Plate Registered: <span th:text="${plate}"></span> 
		<input type="hidden" th:value="${plate}" name="deletePlate">
		<button type="submit">Delete Pass</button></p>
	</form>
</div>

<div>
	<form th:action="@{/refundTickets}" id="refundForm" th:method="post">
	<p>How many tickets would you like to delete?</p>
	<input type="text" id="ticketDelete" name="numOfTickets" />
	<button id="submitTicketDelete" type="button">Submit</button>
	</form>
</div>
<div class="container holder-box">
	<div class="row">
		<div class="col">
			<h2>Parking Passes</h2>	
				<a href="#"><button class="btn btn-outline-primary">Buy Parking Pass</button></a>		
		</div>
	</div>
</div>

<form th:action="@{/volunteerbox}" th:method="post">
	<button th:if="${volunteer == false}" type="submit">Do you want to Volunteer?
</form>
<form th:action="@{/volunteerbox}" th:method="post">
	<button th:if="${volunteer == true}" type="submit">Do you want cancel Volunteer status?
</form>
</div>
    </section>
    <input type="hidden" th:value="${numOfTickets}" id="numOfTickets">


</main>

<footer th:replace="partials/fragments :: footer"></footer>
<script th:replace="partials/fragments :: scripts" ></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script>
	$("#submitTicketDelete").click(() => {
		if (isNaN($("#ticketDelete").val())) {
			alert("Please enter a valid number")
		} else if (parseInt($("#numOfTickets").val()) < parseInt($("#ticketDelete").val())) {
			alert("You can not delete more tickets than you have")
		} else {
			let resp = confirm("You currently have " + $("#numOfTickets").val() + " tickets.\nAre you sure you want to delete " + $("#ticketDelete").val() + " tickets?");
			if (resp) {
				$("#refundForm").submit();
			}
			
		}
		
	});


</script>

</body>
</html> 
