<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head"> </head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>"	

<main>

<div class="container">

  
	<div class="row text-center" style="color:white;">
		<div class="col-lg-12 text-center">
			<h2 style="color:orange;">Welcome, <span th:text="${name}"></span>!</h2>
		</div>
	</div>
<div class="text-center">
		<form th:action="@{/volunteerbox}" th:method="post">
			<button class="btn btn-success" th:if="${volunteer == false}" type="submit">I want to volunteer?
		</form>
		<form th:action="@{/volunteerbox}" th:method="post">
			<button class="btn btn-danger" th:if="${volunteer == true}" type="submit">I don't want to volunteer?
		</form>
</div>


<div id="add_tickets">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 style="color:white;">My Tickets</h1>	
				<div class="row text-center">
					<div class="col-lg-12">
						<a th:href="@{/ticketbuy}"><button type="button" class="btn btn-success">Add Ticket</button></a>	
					</div>
				</div>
		</div>
</div>
<br />
		
	
<ul class="list-group" th:each="ticket : ${showTickets}">	
	<li class="list-group-item"><span>Ticket ID: </span><span th:text="${ticket.ticketNum}"></span></li>	
	<br />		
</ul>




<form th:if="${hasTickets}" class="form-group login-form" th:action="@{/refundTickets}" id="refundForm" th:method="post">
					<h1 style="text-align:center;">Delete tickets?</h1>
					<div class="input-group">
					<input placeholder="number of tickets to delete" class="form-control" type="text" id="ticketDelete" name="numOfTickets" />
					<div class="input-group-prepend">
					<button class="btn btn-danger"  id="submitTicketDelete" type="button">Submit</button>
					</div>
					</div>
</form>	
	
	

		
	
	
</div>
<div>
	<h1 class="text-center" style="color:white;">My Parking Passes</h1>
</div>

<div th:each="plate: ${platesRegistered}">
	<form th:action="@{/deleteParkingPass}" th:method="post">
		<p>Plate Registered: <span th:text="${plate}"></span> 
		<input type="hidden" th:value="${plate}" name="deletePlate">
		<button type="submit">Delete Pass</button></p>
	</form>
</div>

<div>

</div>

	<div class="row text-center">
		<div class="col-lg-12">
				<a href="#"><button class="btn btn-success">Buy Parking Pass</button></a>		
		</div>
	</div>
</div>


</div>
    </section>


</main>

<footer th:replace="partials/fragments :: footer"></footer>
<script th:replace="partials/fragments :: scripts" ></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script>
	$("#submitTicketDelete").click(() => {
		if (isNaN($("#ticketDelete").val())) {
			alert("Please enter a valid number")
		} else if (parseInt($("#numOfTickets").val()) < parseInt($("#ticketDelete").val())) {
			alert("You can not delete more tickets than you have")
		} else {
			let resp = confirm("You currently have " + $("#numOfTickets").val() + " tickets.\nAre you sure you want to delete " + $("#ticketDelete").val() + " tickets?");
			if (resp) {
				$("#refundForm").submit();
			}
			
		}
		
	});


</script>

</body>
</html> 
