<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<style>
.registrationForm{
display:flex;
justify-content:center;
margin-top:5%;
opacity:0;
animation-name:fadeIn;
animation-duration:1s;
animation-fill-mode: forwards;
}


@keyframes fadeIn{

	100%{
	opacity:1;
	}
}

.form-control{

width:400px;

}


</style>
<body>

<h3 class="text-center">New User Sign Up</h3>

	<div class="registrationForm">
	
		<form th:action="@{/register}" method="post" th:object="${user}">
		
			<input class="form-control" type="text" placeholder="first name" th:field="*{first_name}" />
			<br />
			<input class="form-control" type="text" placeholder="last name" th:field="*{last_name}" />
			<br />
			<input class="form-control" type="email" placeholder="email" th:field="*{email}" />
			<br />
			<input class="form-control" type="password" placeholder="password" th:field="*{password}" />
			<br />
			<button class="form-control btn btn-outline-info"  type="submit">Sign Up</button>
			
		</form>
	</div>
	
</body>
</html>