<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head"> </head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>

<main>
	<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Sponsors</h2>
				</div>
			</div>
			<div class="jumbotron">
				<div class="row">						
					<div class="col-lg-4">
						<img src="../img/gold-trophy.jpg" height="200px" width=200px; alt="" />
					</div>								
					<div class="col-lg-8">
						<h3>Richard's House of Ribs</h3>
					</div>	
				</div>		
			</div>
			<div class="jumbotron">
				<div class="row">						
					<div class="col-lg-4">
						<img src="../img/gold-trophy.jpg" height="200px" width=200px; alt="" />
					</div>								
					<div class="col-lg-8">
						<h3>Sandy's Dry Cleaning and BBQ</h3>
					</div>	
				</div>		
			</div>
			<div class="jumbotron">
				<div class="row">						
					<div class="col-lg-4">
						<img src="../img/gold-trophy.jpg" height="200px" width=200px; alt="" />
					</div>								
					<div class="col-lg-8">
						<h3>Phillip's Phish House</h3>
					</div>	
				</div>		
			</div>		
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col">
		 		<button align="center" class="btn btn-success" data-toggle="modal" data-target="#myModalSponsor">Become a sponsor</button>
		 	<div class="modal" id="myModalSponsor">
						  <div class="modal-dialog">
						    <div class="modal-content">
						
						      <!-- Modal Header -->
						      <div class="modal-header">
						        <h4 class="modal-title">Become A Sponsor</h4>
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						      </div>
						
						      <!-- Modal body -->
						      <div class="modal-body">
						        <form action="https://formspree.io/swantiffany.williams@accenturefederal.com" method="POST">
									<label for="sponsor_form">Company Name:
										<input type="text" name="company_name" required/>
									</label>
									<label for="sponsor_form">Sponsorship Amount:
										<input type="text" name="amount" required/>
									</label>
									<label for="sponsor_form">Contact Name:
										<input type="text" name="contact_name" required/>
									</label>
									<label for="sponsor_form">Contact Number:
										<input type="text" name="contact_phone" required/>
									</label><br>
									<button>Submit</button>
								</form>
						      </div>
						
						      <!-- Modal footer -->
						      <div class="modal-footer">
						        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						</div>
					</div>	
			</div>
		</div>
	</div>
</main>	
	
	<footer th:replace="partials/fragments :: footer"></footer>
	<script th:replace="partials/fragments :: scripts" ></script>
</html>