<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head"> </head>
<body>



<nav th:replace="partials/fragments :: navbar"></nav>"
<main>	
	
	
	<div class="container">
			<div class="container holder-box">
				<div class="row">
				<div class="col-lg-12">
					<h2 align="center">Reserve Tickets</h2>
				</div>
				<div class="row">
					<div class="col">
						Max of 10 tickets per user
						<form th:action="@{/ticketbuy}" method="POST">
						 <div class="form-group login-form">
							<select class="form-group" name="ticket_add_sub">
								<option value= 1>1</option>
								<option value= 2>2</option>
								<option value= 3>3</option>
								<option value= 4>4</option>
								<option value= 5>5</option>
								<option value= 6>6</option>
								<option value= 7>7</option>
								<option value= 8>8</option>
								<option value= 9>9</option>
								<option value= 10>10</option>
								<input type="submit" value="reserve">
							</select>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
<footer th:replace="partials/fragments :: footer"></footer>

</main>
<script th:replace="partials/fragments :: scripts" ></script>
</body>
</html>