<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head"> </head>
<body>



<nav th:replace="partials/fragments :: navbar"></nav>



<main>	
	
	
	<div class="container">
		<div class="col-lg-12 text-center">
			<div class="form-group login-form">
						<form th:action="@{/ticketbuy}" method="POST">
						<h3>Purchase Tickets</h3>
						<h6>Max of 10 tickets per user</h6>
						<div class="input-group">
							<select class="form-control" name="ticket_add_sub" id="ticketSelect">
								<option th:if="${numToShow >= 1}" value= 1>1</option>
								<option th:if="${numToShow >= 2}"  value= 2>2</option>
								<option th:if="${numToShow >= 3}"  value= 3>3</option>
								<option th:if="${numToShow >= 4}"  value= 4>4</option>
								<option th:if="${numToShow >= 5}"  value= 5>5</option>
								<option th:if="${numToShow >= 6}"  value= 6>6</option>
								<option th:if="${numToShow >= 7}"  value= 7>7</option>
								<option th:if="${numToShow >= 8}"  value= 8>8</option>
								<option th:if="${numToShow >= 9}"  value= 9>9</option>
								<option th:if="${numToShow >= 10}"  value= 10>10</option>
							</select>
								<div class="input-group-prepend">
									<button type="submit" id="ticketBtn" class="btn btn-success form-control">Reserve</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</th:block>
				<h1 th:if="${numToShow <= 0}">You have already maxed out on tickets</h1>
	</div>
	
		<section>
			<!-- <p th:if="${alreadyHave2 == true}">You already have the max amount of parking passes</p>
			<p th:if="${plateUsed == true}">Plate has already been registered</p>
			<p th:if="${success == true}">Parking pass registered successfully</p>		-->
			
			<h1>Buy A Parking Pass</h1>
			<form th:action="@{/buyParkingPass}" method="post" th:object="${parkingPass}">
	   		 	<p>License Plate:</p>
	    		<input th:field="*{plate}" />
	    		<input type="submit" />
			</form>
		</section>
	

<footer th:replace="partials/fragments :: footer"></footer>

</main>
<script th:replace="partials/fragments :: scripts" ></script>

</body>
</html>